.results {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 50vw;
    height: 90vh;
    overflow-x: auto;
    overflow-y: auto;
}

.results .resultTable {
    width: 100%;
    height: 100%;
}

.results .resultTable .tableHead {

}

.results .resultTable .tableHead .headerRow {

}

.results .resultTable .tableHead .headerRow .headerItem {

}

.results .resultTable .tableBody {

}

.results .resultTable .tableBody .tableRow {

}

.results .resultTable .tableBody .tableRow .tableItem {

}